ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-notify {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
}
.mooli-notify--info.mooli-popup {
  background-color: #1989fa;
}
.mooli-notify--success.mooli-popup {
  background-color: #07c160;
}
.mooli-notify--danger.mooli-popup {
  background-color: #ee0a24;
}
.mooli-notify--warning.mooli-popup {
  background-color: #ff976a;
}
