ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.base-popup-root .base-popup-mask-fixed {
  position: fixed !important;
}
.base-popup-root .base-popup-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
