ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-cascader--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 16px;
}
.mooli-cascader--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.mooli-cascader--close-icon {
  color: #c8c9cc;
  font-size: 22px;
}
.mooli-cascader--close-icon:active {
  color: #969799;
}
.mooli-cascader--tabs .mooli-tabs--nav .mooli-tab {
  flex: none;
  padding: 0 10px;
}
.mooli-cascader--tabs.mooli-tabs--line .mooli-tabs--wrap {
  height: 48px;
}
.mooli-cascader--tabs .mooli-tabs--nav--complete {
  padding-right: 6px;
  padding-left: 6px;
}
.mooli-cascader--tab {
  color: #323233;
  font-weight: 500;
}
.mooli-cascader--tab--unselected {
  color: #969799;
  font-weight: normal;
}
.mooli-cascader--option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
}
.mooli-cascader--option:active {
  background-color: #f2f3f5;
}
.mooli-cascader--option--selected {
  color: #ee0a24;
  font-weight: 500;
}
.mooli-cascader--selected-icon {
  font-size: 18px;
}
.mooli-cascader--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.mooli-cascader--options {
  box-sizing: border-box;
  height: 384px;
  padding-top: 6px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
