ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mooli-multi-ellipsis--l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.mooli-multi-ellipsis--l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.mooli-notice-bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  color: #ed6a0c;
  font-size: 14px;
  line-height: 24px;
  background-color: #fffbe8;
}
.mooli-notice-bar--show {
  animation: 0.3s mooli-fade-in both ease-out;
}
.mooli-notice-bar--hide {
  animation: 0.3s mooli-fade-out both ease-in;
}
.mooli-notice-bar--left-icon,
.mooli-notice-bar--right-icon {
  min-width: 24px;
  font-size: 16px;
}
.mooli-notice-bar--right-icon {
  text-align: right;
  cursor: pointer;
}
.mooli-notice-bar--wrap {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.mooli-notice-bar--content {
  position: absolute;
  white-space: nowrap;
  transition-timing-function: linear;
}
.mooli-notice-bar--content.mooli-ellipsis {
  max-width: 100%;
}
.mooli-notice-bar--wrapable {
  height: auto;
  padding: 8px 16px;
}
.mooli-notice-bar--wrapable .mooli-notice-bar--wrap {
  height: auto;
}
.mooli-notice-bar--wrapable .mooli-notice-bar--content {
  position: relative;
  white-space: normal;
  word-wrap: break-word;
}
.mooli-notice-bar--vertical .mooli-notice-bar--wrap {
  display: block;
}
