ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-button.mooli-bbutton {
  padding: 0 16px;
  height: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #131313;
  border-radius: 100px;
}
.mooli-button.mooli-bbutton .mooli-loading {
  color: #131313;
}
.mooli-button.mooli-bbutton--yellow {
  background-color: #FFD400;
  border: 1px solid #FFD400;
}
.mooli-button.mooli-bbutton--yellow:active {
  background-color: #D9AD00;
  border: 1px solid #D9AD00;
}
.mooli-button.mooli-bbutton--green {
  background-color: #0EBE5A;
  border: 1px solid #0EBE5A;
  color: #fff;
}
.mooli-button.mooli-bbutton--green:active {
  background-color: #039949;
  border: 1px solid #039949;
}
.mooli-button.mooli-bbutton--green .mooli-loading {
  color: #fff;
}
.mooli-button.mooli-bbutton--orange {
  border: 1px solid #FA8C16;
  color: #FA8C16;
}
.mooli-button.mooli-bbutton--orange:active {
  background-color: #FFF7E6;
}
.mooli-button.mooli-bbutton--orange .mooli-loading {
  color: #FA8C16;
}
.mooli-button.mooli-bbutton--white {
  border: 1px solid #D1D1D1;
}
.mooli-button.mooli-bbutton--white:active {
  background-color: #F7F7F7;
}
.mooli-button.mooli-bbutton--black {
  background-color: #131313;
  border: 1px solid #131313;
  color: #fff;
}
.mooli-button.mooli-bbutton--black:active {
  color: #D1D1D1;
}
.mooli-button.mooli-bbutton--black .mooli-loading {
  color: #fff;
}
.mooli-button.mooli-bbutton--large {
  min-width: 156px;
  height: 44px;
}
.mooli-button.mooli-bbutton--normal {
  min-width: 80px;
  height: 36px;
  font-size: 14px;
}
.mooli-button.mooli-bbutton--small {
  min-width: 50px;
  height: 28px;
  font-size: 12px;
}
.mooli-button.mooli-bbutton--square {
  border-radius: 0px;
}
.mooli-button.mooli-bbutton--block {
  display: block;
  width: 100%;
}
.mooli-button.mooli-bbutton--disabled {
  background: #E3E3E3;
  border: 1px solid #E3E3E3;
  color: #fff;
  cursor: not-allowed;
}
.mooli-button.mooli-bbutton--disabled:active {
  background: #E3E3E3;
  border: 1px solid #E3E3E3;
  color: #fff;
}
.mooli-button.mooli-bbutton--orange.mooli-button.mooli-bbutton--disabled,
.mooli-button.mooli-bbutton--white.mooli-button.mooli-bbutton--disabled {
  background: #fff;
  border: 1px solid #E3E3E3;
  color: #E3E3E3;
  cursor: not-allowed;
}
.mooli-button.mooli-bbutton--orange.mooli-button.mooli-bbutton--disabled:active,
.mooli-button.mooli-bbutton--white.mooli-button.mooli-bbutton--disabled:active {
  background: #fff;
  border: 1px solid #E3E3E3;
  color: #E3E3E3;
}
