[class*='mooli-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.mooli-hairline,
.mooli-hairline--top,
.mooli-hairline--left,
.mooli-hairline--right,
.mooli-hairline--bottom,
.mooli-hairline--surround,
.mooli-hairline--top-bottom {
  position: relative;
}
.mooli-hairline--top::after {
  border-top-width: 1px;
}
.mooli-hairline--left::after {
  border-left-width: 1px;
}
.mooli-hairline--right::after {
  border-right-width: 1px;
}
.mooli-hairline--bottom::after {
  border-bottom-width: 1px;
}
.mooli-hairline--top-bottom::after,
.mooli-hairline-unset--top-bottom::after {
  border-width: 1px 0;
}
.mooli-hairline--surround::after {
  border-width: 1px;
}
.mooli-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  content-visibility: auto;
}
.mooli-cell::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 16px;
  bottom: 0;
  left: 16px;
  border-bottom: 1px solid #ebedf0;
  transform: scaleY(0.5);
}
.mooli-cell:last-child::after,
.mooli-cell--border::after {
  display: none;
}
.mooli-cell--label {
  margin-top: 4px;
  color: #969799;
  font-size: 12px;
  line-height: 18px;
}
.mooli-cell--title,
.mooli-cell--value {
  flex: 1;
}
.mooli-cell--value {
  position: relative;
  overflow: hidden;
  color: #969799;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.mooli-cell--value--alone {
  color: #323233;
  text-align: left;
}
.mooli-cell--left-icon.mooli-icon,
.mooli-cell--right-icon.mooli-icon {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}
.mooli-cell--left-icon {
  margin-right: 4px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}
.mooli-cell--right-icon {
  margin-left: 4px;
  color: #969799;
}
.mooli-cell--clickable {
  cursor: pointer;
}
.mooli-cell--clickable:active {
  background-color: #f2f3f5;
}
.mooli-cell--required {
  overflow: visible;
}
.mooli-cell--required::before {
  position: absolute;
  left: 8px;
  color: #ee0a24;
  font-size: 14px;
  content: '*';
}
.mooli-cell--center {
  align-items: center;
}
.mooli-cell--large {
  padding-top: 12px;
  padding-bottom: 12px;
}
.mooli-cell--large .mooli-cell--title {
  font-size: 16px;
}
.mooli-cell--large .mooli-cell--label {
  font-size: 14px;
}
.mooli-cell-group {
  background-color: #fff;
}
.mooli-cell-group--title {
  padding: 16px 16px 8px;
  color: #969799;
  font-size: 14px;
  line-height: 16px;
}
@font-face {
  font-weight: normal;
  font-family: 'mooli-icon';
  font-style: normal;
  font-display: auto;
  src: url('https://static.bankneo.co.id/oao/mooli/font/mooli-icon-84f687.woff2') format('woff2'), url('https://static.bankneo.co.id/oao/mooli/font/mooli-icon-84f687.woff') format('woff'), url('https://static.bankneo.co.id/oao/mooli/font/mooli-icon-84f687.ttf') format('truetype');
}
.mooli-badge {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  min-width: 16px;
  padding: 0 3px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  background-color: #ee0a24;
  border: 1px solid #fff;
  border-radius: 16px;
  transform: translate(50%, -50%);
  transform-origin: 100%;
}
.mooli-badge--dot {
  width: 8px;
  min-width: 0;
  height: 8px;
  background-color: #ee0a24;
  border-radius: 100%;
}
.mooli-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'mooli-icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.mooli-icon::before {
  display: inline-block;
}
.mooli-icon--image {
  width: 1em;
  height: 1em;
  object-fit: contain;
}
.mooli-icon--add-o::before {
  content: '\F000';
}
.mooli-icon--add-square::before {
  content: '\F001';
}
.mooli-icon--add::before {
  content: '\F002';
}
.mooli-icon--after-sale::before {
  content: '\F003';
}
.mooli-icon--aim::before {
  content: '\F004';
}
.mooli-icon--alipay::before {
  content: '\F005';
}
.mooli-icon--apps-o::before {
  content: '\F006';
}
.mooli-icon--arrow-down::before {
  content: '\F007';
}
.mooli-icon--arrow-left::before {
  content: '\F008';
}
.mooli-icon--arrow-up::before {
  content: '\F009';
}
.mooli-icon--arrow::before {
  content: '\F00A';
}
.mooli-icon--ascending::before {
  content: '\F00B';
}
.mooli-icon--audio::before {
  content: '\F00C';
}
.mooli-icon--award-o::before {
  content: '\F00D';
}
.mooli-icon--award::before {
  content: '\F00E';
}
.mooli-icon--back-top::before {
  content: '\F0E6';
}
.mooli-icon--bag-o::before {
  content: '\F00F';
}
.mooli-icon--bag::before {
  content: '\F010';
}
.mooli-icon--balance-list-o::before {
  content: '\F011';
}
.mooli-icon--balance-list::before {
  content: '\F012';
}
.mooli-icon--balance-o::before {
  content: '\F013';
}
.mooli-icon--balance-pay::before {
  content: '\F014';
}
.mooli-icon--bar-chart-o::before {
  content: '\F015';
}
.mooli-icon--bars::before {
  content: '\F016';
}
.mooli-icon--bell::before {
  content: '\F017';
}
.mooli-icon--bill-o::before {
  content: '\F018';
}
.mooli-icon--bill::before {
  content: '\F019';
}
.mooli-icon--birthday-cake-o::before {
  content: '\F01A';
}
.mooli-icon--bookmark-o::before {
  content: '\F01B';
}
.mooli-icon--bookmark::before {
  content: '\F01C';
}
.mooli-icon--browsing-history-o::before {
  content: '\F01D';
}
.mooli-icon--browsing-history::before {
  content: '\F01E';
}
.mooli-icon--brush-o::before {
  content: '\F01F';
}
.mooli-icon--bulb-o::before {
  content: '\F020';
}
.mooli-icon--bullhorn-o::before {
  content: '\F021';
}
.mooli-icon--calendar-o::before {
  content: '\F022';
}
.mooli-icon--card::before {
  content: '\F023';
}
.mooli-icon--cart-circle-o::before {
  content: '\F024';
}
.mooli-icon--cart-circle::before {
  content: '\F025';
}
.mooli-icon--cart-o::before {
  content: '\F026';
}
.mooli-icon--cart::before {
  content: '\F027';
}
.mooli-icon--cash-back-record::before {
  content: '\F028';
}
.mooli-icon--cash-on-deliver::before {
  content: '\F029';
}
.mooli-icon--cashier-o::before {
  content: '\F02A';
}
.mooli-icon--certificate::before {
  content: '\F02B';
}
.mooli-icon--chart-trending-o::before {
  content: '\F02C';
}
.mooli-icon--chat-o::before {
  content: '\F02D';
}
.mooli-icon--chat::before {
  content: '\F02E';
}
.mooli-icon--checked::before {
  content: '\F02F';
}
.mooli-icon--circle::before {
  content: '\F030';
}
.mooli-icon--clear::before {
  content: '\F031';
}
.mooli-icon--clock-o::before {
  content: '\F032';
}
.mooli-icon--clock::before {
  content: '\F033';
}
.mooli-icon--close::before {
  content: '\F034';
}
.mooli-icon--closed-eye::before {
  content: '\F035';
}
.mooli-icon--cluster-o::before {
  content: '\F036';
}
.mooli-icon--cluster::before {
  content: '\F037';
}
.mooli-icon--column::before {
  content: '\F038';
}
.mooli-icon--comment-circle-o::before {
  content: '\F039';
}
.mooli-icon--comment-circle::before {
  content: '\F03A';
}
.mooli-icon--comment-o::before {
  content: '\F03B';
}
.mooli-icon--comment::before {
  content: '\F03C';
}
.mooli-icon--completed::before {
  content: '\F03D';
}
.mooli-icon--contact::before {
  content: '\F03E';
}
.mooli-icon--coupon-o::before {
  content: '\F03F';
}
.mooli-icon--coupon::before {
  content: '\F040';
}
.mooli-icon--credit-pay::before {
  content: '\F041';
}
.mooli-icon--cross::before {
  content: '\F042';
}
.mooli-icon--debit-pay::before {
  content: '\F043';
}
.mooli-icon--delete-o::before {
  content: '\F0E9';
}
.mooli-icon--delete::before {
  content: '\F044';
}
.mooli-icon--descending::before {
  content: '\F045';
}
.mooli-icon--description::before {
  content: '\F046';
}
.mooli-icon--desktop-o::before {
  content: '\F047';
}
.mooli-icon--diamond-o::before {
  content: '\F048';
}
.mooli-icon--diamond::before {
  content: '\F049';
}
.mooli-icon--discount::before {
  content: '\F04A';
}
.mooli-icon--down::before {
  content: '\F04B';
}
.mooli-icon--ecard-pay::before {
  content: '\F04C';
}
.mooli-icon--edit::before {
  content: '\F04D';
}
.mooli-icon--ellipsis::before {
  content: '\F04E';
}
.mooli-icon--empty::before {
  content: '\F04F';
}
.mooli-icon--enlarge::before {
  content: '\F0E4';
}
.mooli-icon--envelop-o::before {
  content: '\F050';
}
.mooli-icon--exchange::before {
  content: '\F051';
}
.mooli-icon--expand-o::before {
  content: '\F052';
}
.mooli-icon--expand::before {
  content: '\F053';
}
.mooli-icon--eye-o::before {
  content: '\F054';
}
.mooli-icon--eye::before {
  content: '\F055';
}
.mooli-icon--fail::before {
  content: '\F056';
}
.mooli-icon--failure::before {
  content: '\F057';
}
.mooli-icon--filter-o::before {
  content: '\F058';
}
.mooli-icon--fire-o::before {
  content: '\F059';
}
.mooli-icon--fire::before {
  content: '\F05A';
}
.mooli-icon--flag-o::before {
  content: '\F05B';
}
.mooli-icon--flower-o::before {
  content: '\F05C';
}
.mooli-icon--font-o::before {
  content: '\F0EC';
}
.mooli-icon--font::before {
  content: '\F0EB';
}
.mooli-icon--free-postage::before {
  content: '\F05D';
}
.mooli-icon--friends-o::before {
  content: '\F05E';
}
.mooli-icon--friends::before {
  content: '\F05F';
}
.mooli-icon--gem-o::before {
  content: '\F060';
}
.mooli-icon--gem::before {
  content: '\F061';
}
.mooli-icon--gift-card-o::before {
  content: '\F062';
}
.mooli-icon--gift-card::before {
  content: '\F063';
}
.mooli-icon--gift-o::before {
  content: '\F064';
}
.mooli-icon--gift::before {
  content: '\F065';
}
.mooli-icon--gold-coin-o::before {
  content: '\F066';
}
.mooli-icon--gold-coin::before {
  content: '\F067';
}
.mooli-icon--good-job-o::before {
  content: '\F068';
}
.mooli-icon--good-job::before {
  content: '\F069';
}
.mooli-icon--goods-collect-o::before {
  content: '\F06A';
}
.mooli-icon--goods-collect::before {
  content: '\F06B';
}
.mooli-icon--graphic::before {
  content: '\F06C';
}
.mooli-icon--home-o::before {
  content: '\F06D';
}
.mooli-icon--hot-o::before {
  content: '\F06E';
}
.mooli-icon--hot-sale-o::before {
  content: '\F06F';
}
.mooli-icon--hot-sale::before {
  content: '\F070';
}
.mooli-icon--hot::before {
  content: '\F071';
}
.mooli-icon--hotel-o::before {
  content: '\F072';
}
.mooli-icon--idcard::before {
  content: '\F073';
}
.mooli-icon--info-o::before {
  content: '\F074';
}
.mooli-icon--info::before {
  content: '\F075';
}
.mooli-icon--invition::before {
  content: '\F076';
}
.mooli-icon--label-o::before {
  content: '\F077';
}
.mooli-icon--label::before {
  content: '\F078';
}
.mooli-icon--like-o::before {
  content: '\F079';
}
.mooli-icon--like::before {
  content: '\F07A';
}
.mooli-icon--live::before {
  content: '\F07B';
}
.mooli-icon--location-o::before {
  content: '\F07C';
}
.mooli-icon--location::before {
  content: '\F07D';
}
.mooli-icon--lock::before {
  content: '\F07E';
}
.mooli-icon--logistics::before {
  content: '\F07F';
}
.mooli-icon--manager-o::before {
  content: '\F080';
}
.mooli-icon--manager::before {
  content: '\F081';
}
.mooli-icon--map-marked::before {
  content: '\F082';
}
.mooli-icon--medal-o::before {
  content: '\F083';
}
.mooli-icon--medal::before {
  content: '\F084';
}
.mooli-icon--minus::before {
  content: '\F0E8';
}
.mooli-icon--more-o::before {
  content: '\F085';
}
.mooli-icon--more::before {
  content: '\F086';
}
.mooli-icon--music-o::before {
  content: '\F087';
}
.mooli-icon--music::before {
  content: '\F088';
}
.mooli-icon--new-arrival-o::before {
  content: '\F089';
}
.mooli-icon--new-arrival::before {
  content: '\F08A';
}
.mooli-icon--new-o::before {
  content: '\F08B';
}
.mooli-icon--new::before {
  content: '\F08C';
}
.mooli-icon--newspaper-o::before {
  content: '\F08D';
}
.mooli-icon--notes-o::before {
  content: '\F08E';
}
.mooli-icon--orders-o::before {
  content: '\F08F';
}
.mooli-icon--other-pay::before {
  content: '\F090';
}
.mooli-icon--paid::before {
  content: '\F091';
}
.mooli-icon--passed::before {
  content: '\F092';
}
.mooli-icon--pause-circle-o::before {
  content: '\F093';
}
.mooli-icon--pause-circle::before {
  content: '\F094';
}
.mooli-icon--pause::before {
  content: '\F095';
}
.mooli-icon--peer-pay::before {
  content: '\F096';
}
.mooli-icon--pending-payment::before {
  content: '\F097';
}
.mooli-icon--phone-circle-o::before {
  content: '\F098';
}
.mooli-icon--phone-circle::before {
  content: '\F099';
}
.mooli-icon--phone-o::before {
  content: '\F09A';
}
.mooli-icon--phone::before {
  content: '\F09B';
}
.mooli-icon--photo-fail::before {
  content: '\F0E5';
}
.mooli-icon--photo-o::before {
  content: '\F09C';
}
.mooli-icon--photo::before {
  content: '\F09D';
}
.mooli-icon--photograph::before {
  content: '\F09E';
}
.mooli-icon--play-circle-o::before {
  content: '\F09F';
}
.mooli-icon--play-circle::before {
  content: '\F0A0';
}
.mooli-icon--play::before {
  content: '\F0A1';
}
.mooli-icon--plus::before {
  content: '\F0A2';
}
.mooli-icon--point-gift-o::before {
  content: '\F0A3';
}
.mooli-icon--point-gift::before {
  content: '\F0A4';
}
.mooli-icon--points::before {
  content: '\F0A5';
}
.mooli-icon--printer::before {
  content: '\F0A6';
}
.mooli-icon--qr-invalid::before {
  content: '\F0A7';
}
.mooli-icon--qr::before {
  content: '\F0A8';
}
.mooli-icon--question-o::before {
  content: '\F0A9';
}
.mooli-icon--question::before {
  content: '\F0AA';
}
.mooli-icon--records::before {
  content: '\F0AB';
}
.mooli-icon--refund-o::before {
  content: '\F0AC';
}
.mooli-icon--replay::before {
  content: '\F0AD';
}
.mooli-icon--revoke::before {
  content: '\F0ED';
}
.mooli-icon--scan::before {
  content: '\F0AE';
}
.mooli-icon--search::before {
  content: '\F0AF';
}
.mooli-icon--send-gift-o::before {
  content: '\F0B0';
}
.mooli-icon--send-gift::before {
  content: '\F0B1';
}
.mooli-icon--service-o::before {
  content: '\F0B2';
}
.mooli-icon--service::before {
  content: '\F0B3';
}
.mooli-icon--setting-o::before {
  content: '\F0B4';
}
.mooli-icon--setting::before {
  content: '\F0B5';
}
.mooli-icon--share-o::before {
  content: '\F0E7';
}
.mooli-icon--share::before {
  content: '\F0B6';
}
.mooli-icon--shop-collect-o::before {
  content: '\F0B7';
}
.mooli-icon--shop-collect::before {
  content: '\F0B8';
}
.mooli-icon--shop-o::before {
  content: '\F0B9';
}
.mooli-icon--shop::before {
  content: '\F0BA';
}
.mooli-icon--shopping-cart-o::before {
  content: '\F0BB';
}
.mooli-icon--shopping-cart::before {
  content: '\F0BC';
}
.mooli-icon--shrink::before {
  content: '\F0BD';
}
.mooli-icon--sign::before {
  content: '\F0BE';
}
.mooli-icon--smile-comment-o::before {
  content: '\F0BF';
}
.mooli-icon--smile-comment::before {
  content: '\F0C0';
}
.mooli-icon--smile-o::before {
  content: '\F0C1';
}
.mooli-icon--smile::before {
  content: '\F0C2';
}
.mooli-icon--sort::before {
  content: '\F0EA';
}
.mooli-icon--star-o::before {
  content: '\F0C3';
}
.mooli-icon--star::before {
  content: '\F0C4';
}
.mooli-icon--stop-circle-o::before {
  content: '\F0C5';
}
.mooli-icon--stop-circle::before {
  content: '\F0C6';
}
.mooli-icon--stop::before {
  content: '\F0C7';
}
.mooli-icon--success::before {
  content: '\F0C8';
}
.mooli-icon--thumb-circle-o::before {
  content: '\F0C9';
}
.mooli-icon--thumb-circle::before {
  content: '\F0CA';
}
.mooli-icon--todo-list-o::before {
  content: '\F0CB';
}
.mooli-icon--todo-list::before {
  content: '\F0CC';
}
.mooli-icon--tosend::before {
  content: '\F0CD';
}
.mooli-icon--tv-o::before {
  content: '\F0CE';
}
.mooli-icon--umbrella-circle::before {
  content: '\F0CF';
}
.mooli-icon--underway-o::before {
  content: '\F0D0';
}
.mooli-icon--underway::before {
  content: '\F0D1';
}
.mooli-icon--upgrade::before {
  content: '\F0D2';
}
.mooli-icon--user-circle-o::before {
  content: '\F0D3';
}
.mooli-icon--user-o::before {
  content: '\F0D4';
}
.mooli-icon--video-o::before {
  content: '\F0D5';
}
.mooli-icon--video::before {
  content: '\F0D6';
}
.mooli-icon--vip-card-o::before {
  content: '\F0D7';
}
.mooli-icon--vip-card::before {
  content: '\F0D8';
}
.mooli-icon--volume-o::before {
  content: '\F0D9';
}
.mooli-icon--volume::before {
  content: '\F0DA';
}
.mooli-icon--wap-home-o::before {
  content: '\F0DB';
}
.mooli-icon--wap-home::before {
  content: '\F0DC';
}
.mooli-icon--wap-nav::before {
  content: '\F0DD';
}
.mooli-icon--warn-o::before {
  content: '\F0DE';
}
.mooli-icon--warning-o::before {
  content: '\F0DF';
}
.mooli-icon--warning::before {
  content: '\F0E0';
}
.mooli-icon--weapp-nav::before {
  content: '\F0E1';
}
.mooli-icon--wechat::before {
  content: '\F0E2';
}
.mooli-icon--youzan-shield::before {
  content: '\F0E3';
}
.mooli-field--label {
  flex: none;
  box-sizing: border-box;
  width: 6.2em;
  margin-right: 12px;
  color: #646566;
  text-align: left;
  word-wrap: break-word;
}
.mooli-field--label--center {
  text-align: center;
}
.mooli-field--label--right {
  text-align: right;
}
.mooli-field--disabled .mooli-field--label {
  color: #c8c9cc;
}
.mooli-field--value {
  overflow: visible;
}
.mooli-field--body {
  display: flex;
  align-items: center;
}
.mooli-field--control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: #323233;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
  outline: none;
}
.mooli-field--control::placeholder {
  color: #c8c9cc;
}
.mooli-field--control:disabled {
  color: #c8c9cc;
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: #c8c9cc;
}
.mooli-field--control:read-only {
  cursor: default;
}
.mooli-field--control--center {
  justify-content: center;
  text-align: center;
}
.mooli-field--control--right {
  justify-content: flex-end;
  text-align: right;
}
.mooli-field--control--custom {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.mooli-field--control[type='date'],
.mooli-field--control[type='time'],
.mooli-field--control[type='datetime-local'] {
  min-height: 24px;
}
.mooli-field--control[type='search'] {
  -webkit-appearance: none;
}
.mooli-field--clear,
.mooli-field--icon,
.mooli-field--button,
.mooli-field--right-icon {
  flex-shrink: 0;
}
.mooli-field--clear,
.mooli-field--right-icon {
  margin-right: -8px;
  padding: 0 8px;
  line-height: inherit;
}
.mooli-field--clear {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8c9cc;
  font-size: 16px;
  cursor: pointer;
}
.mooli-field--left-icon .mooli-icon,
.mooli-field--right-icon .mooli-icon {
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.mooli-field--left-icon {
  margin-right: 4px;
}
.mooli-field--right-icon {
  color: #969799;
}
.mooli-field--button {
  padding-left: 8px;
}
.mooli-field--error-message {
  color: #ee0a24;
  font-size: 12px;
  text-align: left;
}
.mooli-field--error-message--center {
  text-align: center;
}
.mooli-field--error-message--right {
  text-align: right;
}
.mooli-field--word-limit {
  margin-top: 4px;
  color: #646566;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.mooli-field--error .mooli-field--control,
.mooli-field--error .mooli-field--control::placeholder {
  color: #ee0a24;
  -webkit-text-fill-color: currentColor;
}
.mooli-field--min-height .mooli-field--control {
  min-height: 60px;
}
.mooli-search {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 12px;
  background-color: #fff;
}
.mooli-search--content {
  display: flex;
  flex: 1;
  padding-left: 12px;
  background-color: #f7f8fa;
  border-radius: 2px;
}
.mooli-search--content--round {
  border-radius: 999px;
}
.mooli-search--left-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.mooli-search--label {
  padding: 0 5px;
  color: #323233;
  font-size: 14px;
  line-height: 34px;
}
.mooli-search .mooli-cell {
  flex: 1;
  padding: 5px 8px 5px 0;
  background-color: transparent;
}
.mooli-search .mooli-cell--left-icon {
  color: #969799;
}
.mooli-search--show-action {
  padding-right: 0;
}
.mooli-search--action {
  padding: 0 8px;
  color: #323233;
  font-size: 14px;
  line-height: 34px;
  cursor: pointer;
  user-select: none;
}
.mooli-search--action:active {
  background-color: #f2f3f5;
}
.mooli-search input::-webkit-search-decoration,
.mooli-search input::-webkit-search-cancel-button,
.mooli-search input::-webkit-search-results-button,
.mooli-search input::-webkit-search-results-decoration {
  display: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-options {
  background-color: #fff;
}
.mooli-option {
  padding: 5px 12px;
  cursor: pointer;
}
.mooli-option--selected {
  background-color: rgba(0, 0, 0, 0.04);
}
