@import '../../style/_variables.less';

.mooli-notify {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: @notify-padding;
  color: @notify-text-color;
  font-size: @notify-font-size;
  line-height: @notify-line-height;

  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;

  &--info.mooli-popup {
    background-color: @notify-primary-background-color;
  }

  &--success.mooli-popup {
    background-color: @notify-success-background-color;
  }

  &--danger.mooli-popup {
    background-color: @notify-danger-background-color;
  }

  &--warning.mooli-popup {
    background-color: @notify-warning-background-color;
  }
}
