ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Color Palette
*/
/*
 * Gradient Colors
*/
/*
 * Component Colors
*/
/*
 * Padding
*/
/*
 * Font
*/
/*
 * Animation
*/
/*
 * Border
*/
.mooli-field--label {
  flex: none;
  box-sizing: border-box;
  width: 6.2em;
  margin-right: 12px;
  color: #646566;
  text-align: left;
  word-wrap: break-word;
}
.mooli-field--label--center {
  text-align: center;
}
.mooli-field--label--right {
  text-align: right;
}
.mooli-field--disabled .mooli-field--label {
  color: #c8c9cc;
}
.mooli-field--value {
  overflow: visible;
}
.mooli-field--body {
  display: flex;
  align-items: center;
}
.mooli-field--control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: #323233;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
  outline: none;
}
.mooli-field--control::placeholder {
  color: #c8c9cc;
}
.mooli-field--control:disabled {
  color: #c8c9cc;
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: #c8c9cc;
}
.mooli-field--control:read-only {
  cursor: default;
}
.mooli-field--control--center {
  justify-content: center;
  text-align: center;
}
.mooli-field--control--right {
  justify-content: flex-end;
  text-align: right;
}
.mooli-field--control--custom {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.mooli-field--control[type='date'],
.mooli-field--control[type='time'],
.mooli-field--control[type='datetime-local'] {
  min-height: 24px;
}
.mooli-field--control[type='search'] {
  -webkit-appearance: none;
}
.mooli-field--clear,
.mooli-field--icon,
.mooli-field--button,
.mooli-field--right-icon {
  flex-shrink: 0;
}
.mooli-field--clear,
.mooli-field--right-icon {
  margin-right: -8px;
  padding: 0 8px;
  line-height: inherit;
}
.mooli-field--clear {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8c9cc;
  font-size: 16px;
  cursor: pointer;
}
.mooli-field--left-icon .mooli-icon,
.mooli-field--right-icon .mooli-icon {
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.mooli-field--left-icon {
  margin-right: 4px;
}
.mooli-field--right-icon {
  color: #969799;
}
.mooli-field--button {
  padding-left: 8px;
}
.mooli-field--error-message {
  color: #ee0a24;
  font-size: 12px;
  text-align: left;
}
.mooli-field--error-message--center {
  text-align: center;
}
.mooli-field--error-message--right {
  text-align: right;
}
.mooli-field--word-limit {
  margin-top: 4px;
  color: #646566;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.mooli-field--error .mooli-field--control,
.mooli-field--error .mooli-field--control::placeholder {
  color: #ee0a24;
  -webkit-text-fill-color: currentColor;
}
.mooli-field--min-height .mooli-field--control {
  min-height: 60px;
}
